.black { color: $c-black; }
.white { color: $c-white; }

.second { color: $c-second; }
.blue { color: $c-blue; }

.orange { color: $c-orange; }
.green { color: $c-green; }
.red-1 { color: $c-red-1; }
.red { color: $c-red-text; }
.gray { color: $c-dark-gray; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-white { background-color: $c-white; }

.bg-orange { background-color: $c-orange; }
.bg-green { background-color: $c-green; }
