.black { color: $c-black; }
.white { color: $c-white; }

.second { color: $c-second; }
.blue { color: $c-blue; }

.orange { color: $c-orange; }
.green { color: $c-green; }
.red-1 { color: $c-red-1; }
.red { color: $c-red-text; }
.gray { color: $c-dark-gray; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-white-1 { background-color: white; }
.bg-gray-1 { background-color: #F5F6FA; }
.bg-blue-1 { background-color: #585CA2; }
.bg-red-1 { background-color: red; }
.bg-orange { background-color: $c-orange; }
.bg-green { background-color: $c-green; }
